<div *ngIf="token.hasAdminRole(); else loggedOut">
  <div class="container">
    <h1>Lista studentów</h1>
    <div *ngFor="let student of students | async">
       <app-student-details [student]='student'></app-student-details>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="wrapper">
    <div class="overlay">
      <div class="center">
        <h1>OOPS! BŁĄD AUTORYZACJI!</h1>
        <p>Przeglądanie tej strony wymaga większych uprawnień <br /> Zaloguj się na odpowiednie konto, aby móc ją przeglądać <br /> Jeśli nie posiadasz konta - <a routerLink="/signup" style="color: #fff; font-weight: bold;">zarejestruj się</a></p>
        <a routerLink="/auth/login">
          <button mat-flat-button color="primary">Zaloguj się!</button>
        </a>
      </div>
    </div>
  </div>
</ng-template>
