<div class="buttons">
  <mat-slide-toggle  ngDefaultControl (change)="showFilesByUserName(!showFilesByUserNameBoolean)" >Pokaż moje pliki</mat-slide-toggle>
</div>

<mat-list *ngIf='showFilesByUserNameBoolean'>
  <mat-list-item *ngFor="let file of fileUploadsByUserName | async">
    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
    <h4 mat-line>{{file.name}}</h4>
    <p mat-line>#ID: {{file.id}}</p>
    <p mat-line>user: {{file.userName}}</p>
    <button mat-flat-button color="accent" (click)="getMyFile('http://localhost:8080/api/file/'+ file.id, file.name)">Pobierz</button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>