<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Twoje informacje o sesji</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Wyloguj</button>

</div>

<ng-template #loggedOut>
<main>
  <div class="overlay">
    <div class="center">
      <h1>ReportApp</h1>
      <button mat-flat-button color="primary">Zaloguj się!</button>
    </div>
  </div>
</main>
</ng-template>